body{
    margin: 0
}

* {
    border: 1px red solid;
}

.gridContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh
}

.formContainer {
    grid-row: 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperatureContainer {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.weatherContainer {
    display: grid;
}

img {
    height: 100px;
    aspect-ratio: 1;
}